version: "3.9"

services:
  telegraf:
    image: telegraf:1.36
    container_name: telegraf
    restart: unless-stopped
    networks:
      - monitoring
    env_file:
      - ../../.env
    volumes:
      - ../../telegraf-1.36.3/etc/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    environment:
      - INFLUXDB_URL=${INFLUXDB_URL}
      - INFLUXDB_TOKEN=${INFLUX_TOKEN}
      - INFLUXDB_ORG=${INFLUXDB_ORG}
      - INFLUXDB_BUCKET=${INFLUXDB_BUCKET}

networks:
  monitoring:
    external: true
