venv/
log-files/
config/configuracion_mqtt.json
config/configuracion_dispositivo.json
.env
telegraf-1.36.3/
telegraf-1.36.3_linux_amd64.tar.gz*
influxdb2-2.7.1-linux-amd64.tar.gz

influxdb2_linux_amd64/