# # Configuration for sending metrics to InfluxDB 2.0
 [[outputs.influxdb_v2]]
 # # Configuration for sending metrics to InfluxDB 2.0

#   ## The URLs of the InfluxDB cluster nodes.
#   ##
#   ## Multiple URLs can be specified for a single cluster, only ONE of the
#   ## urls will be written to each interval.
#   ##   ex: urls = ["https://us-west-2-1.aws.cloud2.influxdata.com"]
   urls = ["http://localhost:8086"]
#
#   ## Local address to bind when connecting to the server
#   ## If empty or not set, the local address is automatically chosen.
#   # local_address = ""
#
#   ## Token for authentication.
   token = "token"
#
#   ## Organization is the name of the organization you wish to write to.
   organization = "my-org"
#
#   ## Destination bucket to write into.
  bucket = "my-bucket"